<!DOCTYPE html>
<html lang="ar" dir="rtl">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/bootstrap-icons-1.10.3/bootstrap-icons.css" />
    <link rel="stylesheet" href="/style/style.css" />
    <title>Document</title>
  </head>
  <body>
    <%-include("navbar.ejs")%>
    <button id="myBtn" class="btn btn-primary">بحث متقدم</button>

    <!-- The Modal -->
    <div id="myModal" class="modal">
      <!-- Modal content -->
      <div class="modal-content">
        <span class="close">&times;</span>
        <form action="search" method="POST">
          <h3 class="text-primary m-3">بحث متقدم</h3>

          <div class="form-group m-3 col-4">
            <div style="display: flex; gap: 10px">
              <label for="id">رقم البند</label>
              <input type="text" name="id" id="id" class="form-control" />

              <label for="power">القوات</label>
              <input type="text" name="power" id="id" class="form-control" />
            </div>
          </div>

          <div class="form-group m-3 col-2">
            <label for="date">التاريخ</label>
            <br />
            <div style="display: flex; gap: 10px">
              <label for="date_beg">من</label>
              <input
                type="date"
                name="date_beg"
                id="date_beg"
                class="form-control"
              />
              <label for="date_end">إلي</label>
              <input
                type="date"
                name="date_end"
                id="date_end"
                class="form-control"
              />
            </div>
          </div>
          <div class="form-group m-3 col-2">
            <label for="time">السعة</label>
            <br />
            <label for="time_beg">من</label>
            <input
              type="Number"
              name="time_beg"
              id="time_beg"
              min="0"
              class="form-control"
            />
            <label for="time_end">إلي</label>
            <input
              type="Number"
              name="time_end"
              id="time_end"
              min="0"
              class="form-control"
            />
          </div>

          <div class="form-group m-3 col-2">
            <label for="vehicle">نوع المعده</label>
            <!-- <input type="text" name="vehicle" id="vehicle" /> -->
            <select name="vehicle" id="vehicle" class="form-select">
              <option value="">...اختر</option>
              <option value="مركبة">مركبة</option>
              <option value="لنش">لنش</option>
              <option value="طيارة">طيارة</option>
            </select>
          </div>
          <button type="submit" class="btn btn-primary m-3 col-2">بحث</button>
        </form>
      </div>
    </div>
    <hr />
    <table class="table table-hover">
      <thead>
        <tr class="text-center">
          <th scope="col">رقم البند</th>
          <th scope="col">القوات</th>
          <th scope="col">التاريخ</th>
          <th scope="col">سعت</th>
          <th scope="col">ذكر عسكري</th>
          <th scope="col">اثنى عسكري</th>
          <th scope="col">ذكر مدني</th>
          <th scope="col">انثى مدني</th>
          <th scope="col">نوع المعده</th>
          <th scope="col">العدد</th>
          <th scope="col">المنطقة</th>
        </tr>
      </thead>
      <tbody>
        <% for (const record of records) { %>
        <tr class="text-center">
          <td scope="row"><%= record.id %></td>
          <td><%= record.power%></td>
          <td><%= record.date.toISOString().split('T')[0] %></td>
          <td><%= record.time %></td>
          <td><%= record.military_male %></td>
          <td><%= record.military_female %></td>
          <td><%= record.civilian_male %></td>
          <td><%= record.civilian_female %></td>
          <td><%= record.vehicle_type %></td>
          <td><%= record.vehicle_qty %></td>
          <td><%= record.place %></td>
        </tr>
        <% } %>
      </tbody>
    </table>
  </body>
  <script src="/js/show_script.js"></script>
</html>
